[*.cs]
dotnet_diagnostic.IDE0055.severity = suggestion
csharp_style_prefer_primary_constructors = false
csharp_new_line_before_open_brace = all

[*.{sh,bash}]
indent_style = tab

[*.lua]
indent_style = space
indent_size = 2

[*.go]
indent_style = tab

[*.js]
indent_size = 2

[*.ts]
indent_size = 2
