@import "catppuccin-mocha.css";

* {
    font-family: "Rubik",
        "JetBrainsMono Nerd Font Propo",
        "Noto Sans CJK JP",
        "Noto Sans CJK TC",
        "Noto Sans CJK SC",
        "Noto Sans CJK";
    font-weight: 500;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.modules-left>*>* {
    padding-left: 1em;
}

.modules-right>*>* {
    padding-right: 1em;
}

tooltip,
#tray menu {
    color: @subtext0;
}

#waybar {
    color: @text;
    background: alpha(@base, 0.5);
    border-bottom: 1px solid alpha(@overlay0, 0.5);
}

#custom-logo {
    color: @sapphire;
}

#workspaces button {
    color: @blue;
    border-radius: 5px;
    padding: 0 0.1em;
    margin: 2px;
    min-width: 0;
    min-height: 0;
    border: none;
    box-shadow: none;
    transition: all 100ms ease-in-out;
}

#workspaces button.empty {
    color: @subtext0;
}

#workspaces button.active {
    color: @base;
    padding: 0 0.6em;
    background: @blue;
}

#workspaces button:hover {
    border-color: transparent;
}

#network {
    color: @sapphire;
}

#power-profiles-daemon {
    color: @teal;
}

#power-profiles-daemon.balanced {
    color: @blue;
}

#power-profiles-daemon.performance {
    color: @maroon;
}

#power-profiles-daemon.power-saver {
    color: @teal;
}

#tray {
    color: @text;
}

#spotify {
    color: @text;
}

#battery {
    color: @green;
    background: transparent;
}

#battery.warning:not(.charging) {
    color: @peach;
}

#battery.critical:not(.charging) {
    color: @red;
}

#backlight {
    color: @text;
}

#pulseaudio {
    color: @mauve;
}

#clock {
    color: @blue;
}
