configuration {
  modes: "drun,window,calc";
  font: "JetBrainsMono Nerd Font Propo 12";
  show-icons: true;
  icon-theme: "Papirus Dark";
  timeout {
    action: "kb-cancel";
    delay:  0;
  }
  filebrowser {
    directories-first: true;
    sorting-method:    "name";
  }
}
@theme "Arc-Dark"
/*
* {
  edge: rgb(180, 190, 254);
  background: rgba(30, 30, 46, 85%);
}
window {
  border: 2;
  border-radius: 2;
  border-color: @edge;
  background-color: @background;
}
*/
